/* Центриране на формата и заглавието */




.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* Цялата височина на прозореца */
    
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Стил за формата */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Максимална ширина на формата */
}

/* Стил за всяка група в полетата */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Поле за въвеждане */
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* За да се вмести в контейнера */
}

/* Стил за бутона */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стил при задържане на мишката върху бутона */
.submit-btn:hover {
    background-color: #0056b3;
}
